<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Sun Travels</a>
  <div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/add-hotel">Add Hotel</a>
    <a class="nav-item nav-link" routerLink="/all-hotels">All Hotels</a>
    <a class="nav-item nav-link" routerLink="/add-contract">Add Contract</a>
    <a class="nav-item nav-link" routerLink="/all-contracts">All Contracts</a>
  </div>
</nav>
