.btn-primary {
    margin-top: 20px;
    padding: 0.75rem 1.5rem; // Add padding to the button (top/bottom, left/right)
    font-size: 1rem; // Adjust font size if needed
    border-radius: 0.25rem; // Optional: round the corners of the button
  }

.form-group {
    margin-bottom: 1.5rem; // Space between form groups
  }

.label {
    display: block; // Make the label display as a block element
    color: white;
  }